* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

body.hidden {
  overflow: hidden;
}

.main_title {
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.72px;
  margin-bottom: 15px;
}
.main_title span {
  color: #EFB304;
}

.subtitle {
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 40px;
}

.main_text {
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
}

.button_coral {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  padding: 0 45px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  border-radius: 100px;
  background: var(--img, #EFB304);
  transition: 0.2s ease;
}
.button_coral:hover {
  background: #FFCA30;
}
.button_coral:active {
  background: #CF9C05;
}

.button_light {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 55px;
  padding: 0 45px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #EFB304;
  transition: 0.2s ease;
}
.button_light:hover {
  background: #EFB304;
}
.button_light:active {
  background: #CF9C05;
  border: 2px solid #CF9C05;
}

.media_menu_wrapper.active {
  display: block;
}

.media_menu {
  transition: 0.2s ease;
  position: fixed;
  z-index: 20;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  padding: 40px 30px 80px 30px;
  display: none;
  flex-direction: column;
  animation: open 0.2s linear;
}
.media_menu .media_menu_head {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media_menu .media_menu_head .burger_close {
  cursor: pointer;
}
.media_menu .location {
  padding: 10px;
  margin-bottom: 30px;
}
.media_menu .location .select {
  width: 213px;
  position: relative;
}
.media_menu .location .select .head {
  height: 47px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.media_menu .location .select .head span {
  margin-left: 7px;
  width: 118px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.media_menu .location .select .head input {
  width: 118px;
  display: none;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  background: transparent;
  outline: none;
  border: none;
}
.media_menu .location .select .head .icon {
  transition: 0.2s ease;
}
.media_menu .location .select .result {
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
}
.media_menu .location .select .result button {
  padding: 10px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  -moz-text-align-last: left;
       text-align-last: left;
  transition: 0.2s ease;
}
.media_menu .location .select .result button:hover {
  background: #D9D9D9;
}
.media_menu .location .select.active {
  background: white;
}
.media_menu .location .select.active .head span {
  display: none;
}
.media_menu .location .select.active .head input {
  display: block;
}
.media_menu .location .select.active .head .icon {
  transform: rotateZ(180deg);
}
.media_menu .location .select.active .result {
  display: flex;
}
.media_menu .nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.media_menu .nav_link {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 82px;
}
.media_menu .nav_link .nav_item {
  white-space: nowrap;
  color: var(--, #353535);
  font-family: "Manrope", sans-serif;
  font-size: 23px;
  letter-spacing: 0.46px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 18.75px */
  transition: 0.2s ease;
}
.media_menu .nav_link .nav_item:hover {
  color: #5B5A5A;
}
.media_menu .nav_link .nav_item.active {
  color: #353535;
  font-weight: 700;
}
.media_menu .header_contact {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.media_menu .header_contact a {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.media_menu .header_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 78px;
  gap: 20px;
}
.media_menu .header_btns button {
  width: 230px;
  font-size: 19px;
  font-weight: 700px;
}

.media_menu.active {
  display: flex;
}

header {
  border-radius: 35px 35px 0 0;
  padding: 30px 0;
  background: #F5F5F6;
}
header .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .location {
  padding: 10px;
}
header .location .select {
  width: 213px;
  position: relative;
}
header .location .select .head {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
header .location .select .head span {
  margin-left: 7px;
  width: 118px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
header .location .select .head input {
  width: 118px;
  display: none;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  background: transparent;
  outline: none;
  border: none;
}
header .location .select .head .icon {
  transition: 0.2s ease;
}
header .location .select .result {
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
}
header .location .select .result button {
  padding: 10px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  -moz-text-align-last: left;
       text-align-last: left;
  transition: 0.2s ease;
}
header .location .select .result button:hover {
  background: #D9D9D9;
}
header .location .select.active {
  background: white;
}
header .location .select.active .head span {
  display: none;
}
header .location .select.active .head input {
  display: block;
}
header .location .select.active .head .icon {
  transform: rotateZ(180deg);
}
header .location .select.active .result {
  display: flex;
}
header .nav {
  display: flex;
  align-items: center;
}
header .nav_link {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .nav_link .nav_item {
  white-space: nowrap;
  color: var(--, #353535);
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
  transition: 0.2s ease;
}
header .nav_link .nav_item:hover {
  color: #5B5A5A;
}
header .nav_link .nav_item.active {
  font-weight: 700;
}
header .nav_link .nav_item.active {
  color: #353535;
  font-weight: 700;
}
header .header_contact {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header .header_contact a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
header .burger {
  cursor: pointer;
  display: none;
}
header .burger .burger_close {
  display: none;
}

#home {
  padding: 113px 0;
}
#home .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home .home_img .media_img {
  display: none;
}
#home .home_text .main_title {
  max-width: 580px;
}
#home .home_text .main_title span {
  display: inline;
}
#home .home_text .subtitle {
  max-width: 499px;
}
#home .home_text .home_btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
#home .home_text .home_btns button {
  white-space: nowrap;
}

#about {
  padding: 60px 0 44px 0;
  background-image: url("../images/about_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#about .main_title {
  color: #F5F5F6;
}
#about .main_text {
  max-width: 635px;
  margin: 0 auto 40px auto;
  color: #F5F5F6;
}
#about .about_wrapper {
  margin-top: 34px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: space-evenly;
}

#unitybook {
  padding: 80px 0;
}
#unitybook .main_title {
  margin-bottom: 40px;
  text-align: center;
}
#unitybook .unitybook_in {
  display: flex;
  align-items: start;
  gap: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#unitybook .unitybook_card {
  max-width: 308px;
}
#unitybook .unitybook_card .number {
  margin: 0 auto 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 89px;
  border-radius: 50%;
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 45px */
  letter-spacing: 0.72px;
  background-color: #EFB304;
}
#unitybook .unitybook_card .subtitle {
  margin-bottom: 15px;
  text-align: center;
  color: #353535;
  font-weight: 700;
}

#work .main_title {
  text-align: center;
  margin-bottom: 40px;
}
#work .texts .main_img {
  width: 100%;
}
#work .texts .text {
  color: #353535;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  width: 290px;
  text-align: center;
  position: absolute;
  top: 0;
}
#work .texts .text_top {
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
#work .texts .text_top .text_1 {
  left: 190px;
}
#work .texts .text_top .text_2 {
  left: 560px;
}
#work .texts .text_top .text_3 {
  left: 950px;
}
#work .texts .text_bottom {
  margin-top: 15px;
  height: 50px;
  margin-bottom: 60px;
  position: relative;
}
#work .texts .text_bottom .text_1 {
  left: -3px;
}
#work .texts .text_bottom .text_2 {
  left: 370px;
}
#work .texts .text_bottom .text_3 {
  left: 750px;
}
#work .texts_mobile {
  display: none;
}
#work .link {
  border-radius: 100px;
  border: 2px solid #EFB304;
  padding: 15px 45px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  transition: 0.2s ease;
}
#work .link span {
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}
#work .link:hover {
  border: 2px solid #EFB304;
  background: #EFB304;
}
#work .link:active {
  border: 2px solid #CF9C05;
  background: #CF9C05;
}

#contact {
  padding-top: 96px;
}
#contact .main_container {
  max-width: 854px;
  padding: 65px 70px 50px;
  background: url("../images/contact_bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
#contact .main_title {
  color: #fff;
  max-width: 370px;
  margin: 0 auto 15px;
  text-align: center;
}
#contact .contact_subtitle {
  margin: 0 auto 41px;
  text-align: center;
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
#contact .inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}
#contact .inputs input, #contact .inputs textarea {
  padding-bottom: 19px;
  width: 100%;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  color: #fff;
}
#contact .inputs input::-moz-placeholder, #contact .inputs textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#contact .inputs input::placeholder, #contact .inputs textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#contact .inputs textarea {
  resize: none;
  height: 119px;
}
#contact .checkboxs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contact .checkboxs input {
  display: none;
}
#contact .checkboxs label {
  cursor: pointer;
  padding-left: 50px;
  position: relative;
}
#contact .checkboxs label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: transparent;
  border-radius: 1px;
  border: 1px solid #FFF;
}
#contact .checkboxs label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  margin-top: 2px;
  margin-left: 3px;
}
#contact .checkboxs #check_box_1:checked + .check_box_1::after {
  background: url("../images/checkbox.svg") no-repeat;
}
#contact .checkboxs #check_box_2:checked + .check_box_2::after {
  background: url("../images/checkbox.svg") no-repeat;
}
#contact .checkboxs span {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
#contact .checkboxs a {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-decoration: underline;
}
#contact .button_coral {
  margin: 40px auto 0;
}

#news {
  padding-top: 80px;
}
#news .main_container {
  max-width: 1330px;
}
#news .main_title {
  text-align: center;
}
#news .subtitle {
  margin: 0 auto 40px;
  text-align: center;
}
#news .cards {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}
#news .cards .card_item {
  height: 417px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: calc(33.3333333333% - 16px);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
#news .cards .card_item:hover .card_bg::after {
  opacity: 0.7;
}
#news .cards .card_item:hover .link {
  display: block;
}
#news .cards .card_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#news .cards .card_bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #353535;
  opacity: 0.4;
}
#news .cards .card_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#news .cards .card_title {
  position: relative;
  width: 100%;
  text-align: left;
  color: #F5F5F6;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}
#news .cards .link {
  position: relative;
  display: none;
}
#news .cards .link:active {
  opacity: 0.7;
}
#news .btn {
  border-radius: 100px;
  border: 2px solid #EFB304;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 278px;
  margin: 0 auto;
  margin-bottom: 82px;
  transition: 0.2s ease;
}
#news .btn span {
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}
#news .btn:hover {
  background: #EFB304;
  border: 2px solid #EFB304;
}
#news .btn:active {
  background: #CF9C05;
  border: 2px solid #CF9C05;
}

footer {
  background: #353535;
  padding: 64px 0px 50px;
}
footer .main_container {
  display: flex;
  align-items: flex-start;
  max-width: 1340px;
}
footer .logo img {
  width: 127px;
}
footer .links {
  display: flex;
  align-items: flex-start;
  gap: 74px;
  margin-left: 75px;
}
footer .link_1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .link_1 a {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  transition: 0.2s ease;
}
footer .link_1 a:hover {
  color: #5B5A5A;
}
footer .link_1 a.active {
  font-weight: 700;
}
footer .link_2 {
  display: flex;
  gap: 30px;
}
footer .link_2 a {
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .link_2 a img {
  width: 30px;
}
footer .link_2 a span {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  white-space: nowrap;
}
footer .buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 30px;
  margin-left: 63px;
}
footer .buttons a {
  padding: 15px 45px;
  border-radius: 100px;
  border: 2px solid #FFF;
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  display: block;
  width: auto;
  max-width: auto;
  transition: 0.2s ease;
  white-space: nowrap;
}
footer .buttons a:hover {
  background: #FFF;
  color: #353535;
}
footer .buttons a:active {
  color: #353535;
  background: #E6E6E6;
}
footer .select .head {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
footer .select .head span {
  margin-left: 7px;
  width: 118px;
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
footer .select .head input {
  width: 118px;
  display: none;
  margin-left: 7px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  background: transparent;
  outline: none;
  border: none;
}
footer .select .head .icon {
  transition: 0.2s ease;
}
footer .select .result {
  display: none;
  flex-direction: column;
}
footer .select .result button {
  padding: 10px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  -moz-text-align-last: left;
       text-align-last: left;
  transition: 0.2s ease;
}
footer .select .result button:hover {
  background: #D9D9D9;
}
footer .select.active {
  background: white;
}
footer .select.active .head span {
  display: none;
}
footer .select.active .head input {
  display: block;
}
footer .select.active .head .icon {
  transform: rotateZ(180deg);
}
footer .select.active .result {
  display: flex;
}

@media (max-width: 1255px) {
  header .sign_in,
  header .nav {
    display: none;
  }
  header .burger {
    display: block;
  }
}
@media (min-width: 1255px) {
  .media_menu_wrapper {
    display: none;
  }
  .media_menu.active {
    display: none;
  }
}
@media (max-width: 1100px) {
  #home .main_container {
    gap: 20px;
  }
  #home .home_img img {
    width: 100%;
  }
  #unitybook .unitybook_in {
    justify-content: space-evenly;
  }
}
@media (max-width: 940px) {
  #home .main_container {
    gap: 20px;
  }
  #home .home_text .main_title {
    font-size: 23px;
  }
  #home .home_text .subtitle {
    font-size: 15px;
  }
  #home .home_text .home_btns {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  #home .home_text .home_btns button {
    font-size: 19px;
    width: 230px;
    font-weight: 700;
  }
  #home .home_img img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    border-radius: 50px 50px 0 0;
  }
  #home {
    padding: 76px 0 43px 0;
    overflow: hidden;
  }
  #home .main_container {
    gap: 43px;
    flex-direction: column;
  }
  #home .home_text .home_btns {
    align-items: center;
  }
  #home .home_img .desktop_img {
    display: none;
  }
  #home .home_img .media_img {
    width: 100vw;
    display: block;
  }
  #about {
    overflow: hidden;
    background-image: url("../images/about_bg_media.png");
    background-size: cover;
    padding: 40px 0;
    border-radius: 50px 50px 0 0;
  }
  #about .main_title {
    font-size: 23px;
    margin-bottom: 20px;
  }
  #about .main_text {
    font-size: 15px;
    margin-bottom: 63px;
  }
  #about .about_wrapper {
    margin-top: 43px;
  }
  #unitybook {
    padding: 60px 0 40px 0;
  }
  #unitybook .main_title {
    font-size: 23px;
    margin-bottom: 25px;
  }
  #unitybook .unitybook_in .unitybook_card .subtitle {
    font-size: 19px;
  }
}
@media (max-width: 576px) {
  .media_menu {
    width: 100%;
  }
  #unitybook .unitybook_in {
    padding: 0 20px;
    justify-content: left;
  }
  #unitybook .unitybook_in .unitybook_card .number {
    margin: 0 0 15px 0;
  }
  #unitybook .unitybook_in .unitybook_card .subtitle {
    text-align: left;
  }
}
@media only screen and (max-width: 1300px) {
  footer {
    padding: 40px 0px 60px;
  }
  footer .main_container {
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
  footer .logo {
    margin: 0 auto;
    margin-bottom: 22px;
  }
  footer .logo img {
    width: 127px;
  }
  footer .links {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    gap: 0;
  }
  footer .link_1 {
    margin: 0;
  }
  footer .link_1 a {
    text-align: right;
    width: 100%;
  }
  footer .link_2 {
    margin: 0;
    flex-direction: column;
  }
  footer .buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 232px;
    gap: 30px;
    margin-top: 53px;
  }
  footer .buttons a {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 1230px) {
  #work .texts {
    display: none;
  }
  #work .main_title {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.46px;
    margin-bottom: 20px;
  }
  #work .texts_mobile {
    display: block;
    position: relative;
    width: 181px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  #work .texts_mobile .text {
    width: auto;
    color: #353535;
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    white-space: nowrap;
  }
  #work .texts_mobile .top_text {
    position: absolute;
    top: 0;
    left: -81px;
  }
  #work .texts_mobile .top_text .text_1 {
    position: absolute;
    top: 45px;
    left: 0;
  }
  #work .texts_mobile .top_text .text_2 {
    position: absolute;
    left: 0;
    top: 445px;
  }
  #work .texts_mobile .top_text .text_3 {
    position: absolute;
    left: 0;
    top: 880px;
    white-space: nowrap;
  }
  #work .texts_mobile .bottom_text {
    position: absolute;
    top: 0;
    right: -79px;
  }
  #work .texts_mobile .bottom_text .text_1 {
    position: absolute;
    right: 0;
    top: 225px;
    text-align: right;
  }
  #work .texts_mobile .bottom_text .text_2 {
    position: absolute;
    right: 0;
    top: 670px;
    text-align: right;
  }
  #work .texts_mobile .bottom_text .text_3 {
    position: absolute;
    right: 0;
    top: 1060px;
    text-align: right;
    white-space: nowrap;
  }
  #work .link {
    flex-direction: column;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
  }
}
@media only screen and (max-width: 992px) {
  #news .cards {
    flex-direction: column;
  }
  #news .cards .card_item {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  #contact {
    padding-top: 60px;
  }
  #contact .main_container {
    padding: 65px 20px 50px;
    border-radius: 50px 50px 0 0;
  }
  #contact .main_title {
    font-size: 23px;
    line-height: 125%;
    letter-spacing: 0.46px;
  }
  #contact .subtitle {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 57px;
  }
  #contact .inputs {
    margin-bottom: 40px;
  }
  #contact .inputs input {
    padding-bottom: 19px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }
  #contact .checkboxs {
    margin-bottom: 48px;
  }
  #news .main_container {
    width: 100%;
    padding: 0;
  }
  #news .main_title {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.46px;
  }
  #news .subtitle {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 30px;
  }
  #news .subtitle br {
    display: none;
  }
  #news .cards {
    gap: 20px;
    margin-bottom: 30px;
  }
  #news .cards .card_item {
    border-radius: 0px;
  }
  #news .cards .card_title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
  }
  #news .cards .link img {
    width: 70px;
  }
  #news .btn {
    margin-bottom: 60px;
  }
}/*# sourceMappingURL=style.css.map */