* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.main_container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}

body.hidden {
  overflow: hidden;
}

.main_title {
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.72px;
  margin-bottom: 15px;
}
.main_title span {
  color: #EFB304;
}

.subtitle {
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 40px;
}

.main_text {
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
}

.button_coral {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  padding: 0 45px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  border-radius: 100px;
  background: var(--img, #EFB304);
  transition: 0.2s ease;
}
.button_coral:hover {
  background: #FFCA30;
}
.button_coral:active {
  background: #CF9C05;
}

.button_light {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 55px;
  padding: 0 45px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #EFB304;
  transition: 0.2s ease;
}
.button_light:hover {
  background: #EFB304;
}
.button_light:active {
  background: #CF9C05;
  border: 2px solid #CF9C05;
}

.media_menu_wrapper {
  transition: 0.2s ease;
  position: fixed;
  z-index: 19;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.9);
}

.media_menu_wrapper.active {
  display: block;
}

.media_menu {
  transition: 0.2s ease;
  position: fixed;
  z-index: 20;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  padding: 40px 30px 80px 30px;
  display: none;
  flex-direction: column;
  animation: open 0.2s linear;
}
.media_menu .media_menu_head {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.media_menu .media_menu_head .burger_close {
  cursor: pointer;
}
.media_menu .location {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
}
.media_menu .location .location_icon {
  margin-right: 7px;
}
.media_menu .location span {
  display: block;
  max-width: 110px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
}
.media_menu .location .location_dropdown {
  display: none;
}
.media_menu .location.active {
  background: #FFF;
}
.media_menu .location.active .down_icon {
  transform: rotate();
}
.media_menu .location.active .location_dropdown {
  position: absolute;
  width: 100%;
  top: 57px;
  left: 0;
  background: #FFF;
  display: block;
}
.media_menu .location.active .location_dropdown a {
  width: 100%;
  color: var(--, #353535);
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
  transition: 0.2s ease;
  padding: 10px;
}
.media_menu .location.active .location_dropdown a:hover {
  background: #D9D9D9;
}
.media_menu .nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.media_menu .nav_link {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 82px;
}
.media_menu .nav_link .nav_item {
  white-space: nowrap;
  color: var(--, #353535);
  font-family: "Manrope", sans-serif;
  font-size: 23px;
  letter-spacing: 0.46px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 18.75px */
  transition: 0.2s ease;
}
.media_menu .nav_link .nav_item:hover {
  color: #5B5A5A;
}
.media_menu .nav_link .nav_item.active {
  color: #353535;
  font-weight: 700;
}
.media_menu .header_contact {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.media_menu .header_contact a {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.media_menu .header_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 78px;
  gap: 20px;
}
.media_menu .header_btns button {
  width: 230px;
  font-size: 19px;
  font-weight: 700px;
}

.media_menu.active {
  display: flex;
}

header {
  border-radius: 35px 35px 0 0;
  padding: 30px 0;
  background: #F5F5F6;
}
header .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .location {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}
header .location .location_icon {
  margin-right: 7px;
}
header .location span {
  display: block;
  max-width: 110px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
}
header .location .location_dropdown {
  display: none;
}
header .location.active {
  background: #FFF;
}
header .location.active .down_icon {
  transform: rotate(180deg);
}
header .location.active .location_dropdown {
  position: absolute;
  width: 100%;
  top: 57px;
  left: 0;
  background: #FFF;
  display: block;
}
header .location.active .location_dropdown a {
  width: 100%;
  color: var(--, #353535);
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
  transition: 0.2s ease;
  padding: 10px;
}
header .location.active .location_dropdown a:hover {
  background: #D9D9D9;
}
header .nav {
  display: flex;
  align-items: center;
}
header .nav_link {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .nav_link .nav_item {
  white-space: nowrap;
  color: var(--, #353535);
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 18.75px */
  transition: 0.2s ease;
}
header .nav_link .nav_item:hover {
  color: #5B5A5A;
}
header .nav_link .nav_item.active {
  color: #353535;
  font-weight: 700;
}
header .header_contact {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header .header_contact a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
header .burger {
  cursor: pointer;
  display: none;
}
header .burger .burger_close {
  display: none;
}

#home {
  padding: 113px 0;
}
#home .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home .home_img .media_img {
  display: none;
}
#home .home_text .main_title {
  max-width: 580px;
}
#home .home_text .main_title span {
  display: inline;
}
#home .home_text .subtitle {
  max-width: 499px;
}
#home .home_text .home_btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
#home .home_text .home_btns button {
  white-space: nowrap;
}

#about {
  padding: 60px 0 44px 0;
  background-image: url("../images/about_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#about .main_title {
  color: #F5F5F6;
}
#about .main_text {
  max-width: 635px;
  margin: 0 auto 40px auto;
  color: #F5F5F6;
}
#about .about_wrapper {
  margin-top: 34px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: space-evenly;
}

#unitybook {
  padding: 80px 0;
}
#unitybook .main_title {
  margin-bottom: 40px;
  text-align: center;
}
#unitybook .unitybook_in {
  display: flex;
  align-items: start;
  gap: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#unitybook .unitybook_card {
  max-width: 308px;
}
#unitybook .unitybook_card .number {
  margin: 0 auto 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 89px;
  border-radius: 50%;
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 45px */
  letter-spacing: 0.72px;
  background-color: #EFB304;
}
#unitybook .unitybook_card .subtitle {
  margin-bottom: 15px;
  text-align: center;
  color: #353535;
  font-weight: 700;
}

@media (max-width: 1255px) {
  header .sign_in,
  header .nav {
    display: none;
  }
  header .burger {
    display: block;
  }
}
@media (min-width: 1255px) {
  .media_menu_wrapper {
    display: none;
  }
  .media_menu {
    display: none;
  }
}
@media (max-width: 1100px) {
  #home .main_container {
    gap: 20px;
  }
  #home .home_img img {
    width: 100%;
  }
  #unitybook .unitybook_in {
    justify-content: space-evenly;
  }
}
@media (max-width: 940px) {
  #home .main_container {
    gap: 20px;
  }
  #home .home_text .main_title {
    font-size: 23px;
  }
  #home .home_text .subtitle {
    font-size: 15px;
  }
  #home .home_text .home_btns {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  #home .home_text .home_btns button {
    font-size: 19px;
    width: 230px;
    font-weight: 700;
  }
  #home .home_img img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    border-radius: 50px 50px 0 0;
  }
  #home {
    padding: 76px 0 43px 0;
    overflow: hidden;
  }
  #home .main_container {
    gap: 43px;
    flex-direction: column;
  }
  #home .home_text .home_btns {
    align-items: center;
  }
  #home .home_img .desktop_img {
    display: none;
  }
  #home .home_img .media_img {
    width: 100vw;
    display: block;
  }
  #about {
    overflow: hidden;
    background-image: url("../images/about_bg_media.png");
    background-size: cover;
    padding: 40px 0;
    border-radius: 50px 50px 0 0;
  }
  #about .main_title {
    font-size: 23px;
    margin-bottom: 20px;
  }
  #about .main_text {
    font-size: 15px;
    margin-bottom: 63px;
  }
  #about .about_wrapper {
    margin-top: 43px;
  }
  #unitybook {
    padding: 60px 0 40px 0;
  }
  #unitybook .main_title {
    font-size: 23px;
    margin-bottom: 25px;
  }
  #unitybook .unitybook_in .unitybook_card .subtitle {
    font-size: 19px;
  }
}
@media (max-width: 576px) {
  .media_menu {
    width: 100%;
  }
  #unitybook .unitybook_in {
    padding: 0 20px;
    justify-content: left;
  }
  #unitybook .unitybook_in .unitybook_card .number {
    margin: 0 0 15px 0;
  }
  #unitybook .unitybook_in .unitybook_card .subtitle {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */